extends ../layouts/default.pug

block title
	title 404 - Not Found

block content
	.p-5.text-center
		h1 Well, That's Awkward.
		unless message
			p Error 404 - Not Found
		else
			p= message
		a.btn.btn-primary(href="/") Go Home